﻿@model IEnumerable<Finalterm.Models.Cart>

@{
    Layout = null;
    Session["cart"] = @Model;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/CSS/bootstrap4.css">
    <link rel="stylesheet" href="~/CSS/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/CSS/SearchProducts.css">
    <title>project 4</title>
</head>

<body>
    <div class="container-fluid bg-dark text-light" style="width:100;align-content:center" align="center">
        <img src="~/Image/73474977_484313005624525_7008271267014901760_n.png" alt="Alternate Text" style="align-content:center" width="200" height="200" />
    </div>
    @{
        if (Session["Login"].ToString().Equals("0"))
        {
            <div class="container-fluid bg-dark header-top d-none d-md-block">
                <div class="container">
                    <div class="row text-light pt-2 pb-2">
                        @*<div class="col-md-5"><i class="fa fa-envelope-o" aria-hidden="true"></i> debjyoti.das7@gmail.com</div>*@
                        <div class="col-md-3">

                        </div>

                        <div align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Login","Home")">Login</a></div>
                        @*<div class="col-md-2"> <i class="fa fa-cart-plus" aria-hidden="true"></i> My Cart - $ 0.00</div>*@
                        @*<div class="col-md-2"  align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Admin","Home")">Admin</a></div>*@
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container-fluid bg-dark header-top d-none d-md-block">
                <div class="container">
                    <div class="row text-light pt-2 pb-2">
                        <div class="col-md-2" align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Logout","Home")">Logout</a></div>
                        <div class="col-md-3">
                            <div class="col-md-2" align="right"> <a href="@Url.Action("Index","Message")">Message to Admin</a></div>

                        </div>

                    </div>
                </div>
            </div>




        }
    }

    <div class="container-fluid bg-black">
        <nav class="container navbar navbar-expand-lg navbar-dark bg-black">


            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                @using (Html.BeginForm("Search", "Products", FormMethod.Get))
                {
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchVal">
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" />
                }

            </div>
        </nav>
    </div>
    <p>

    </p>
    <table class="table" width="80%" style="margin-left:100px; margin-right:100px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <form action="~/Carts/Delete" method="post">
                        <input type="submit" name="Remove" value="Remove" class="btn btn-danger" />
                        <input type="hidden" value="@item.Id" name="id" />
                    </form>
                </td>
            </tr>
        }

    </table>
    <div>
        <div style="margin-left:100px;">
            <h4>Place Order</h4>
            <div style="margin:30px">
                @{
                    int a = int.Parse(Session["total"].ToString()) - int.Parse(Session["Coupon"].ToString());
                    Session["total"] = a;
                }
                Total Price : @a
                <form action="~/Orders/Create" method="post" style="margin:20px;">
                    <input type="submit" name="PlaceOrder" value="Place Order" class="btn btn-outline-success" />

                </form>
            </div>
        </div>
    </div>
    @{
        if (Session["Coupon"].ToString() == "0")
        {
            <div>
                <div style="margin-left:100px;">
                    <h4>Place Order</h4>
                    <div style="margin:30px">
                        ADD COUPON
                        <form action="~/Orders/Coupon" method="post" style="margin:20px;">
                            <input type="text" name="Coupon" value="" />
                            <input type="submit" name="PlaceOrder" value="Add coupon" class="btn btn-outline-success" />

                        </form>
                    </div>
                </div>
            </div>
        }
        else
        {

        }
    }

    <footer>
        <div class="container-fluid pt-5 pb-5 bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                        </div>
                        <img src="~/Image/73474977_484313005624525_7008271267014901760_n.png" alt="Alternate Text" width="200" height="200" />

                    </div>
                    <div class="col-md-3 pl-4">
                        <div class="row">
                            <h5>About</h5>
                        </div>
                        <div class="row mb-4">
                            <div class="underline bg-light" style="width: 50px;"></div>
                        </div>
                        <div class="row">
                            <p>BuyHere.com.bd is the best online shopping site in bangladesh selling millions of products electronics products. Experience fast, reliable and trusted online shopping in bangladesh with home delivery anywhere across country. Find latest trends in fashion according to seasons and occasions with BuyHere online shopping and remain in style 24x7 and 365 days a year. BuyHere provides a facility of online shopping with cash on delivery to your home.</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <h5>Social Media</h5>
                        </div>
                        <div class="row mb-4">
                            <div class="underline bg-light" style="width: 50px;"></div>
                        </div>
                        <a href="https://www.facebook.com"><img src="https://img.icons8.com/color/48/000000/facebook.png"></a>
                        <a href="https://twitter.com"><img src="https://img.icons8.com/color/48/000000/twitter.png"></a>
                        @*<button class="btn btn-outline-light">Autunm</button> <button class="btn btn-outline-light">Dress</button> <button class="btn btn-outline-light">Fashion</button> <button class="btn btn-outline-light">Ladice Dress</button> <button class="btn btn-outline-light">Black Dress</button>*@
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
