﻿@model Finalterm.Models.
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/CSS/bootstrap4.css">
    <link rel="stylesheet" href="~/CSS/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Buy Here</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            packages: ['corechart']
        });
    </script>
</head>

<body>
    <form method="post">
        <div class="container-fluid bg-dark text-light" style="width:100;align-content:center" align="center">
            <img src="~/Image/73474977_484313005624525_7008271267014901760_n.png" alt="Alternate Text" style="align-content:center" width="200" height="200" />
        </div>
        @{
            if (Session["Login"].ToString().Equals("0"))
            {
                <div class="container-fluid bg-dark header-top d-none d-md-block">
                    <div class="container">
                        <div class="row text-light pt-2 pb-2">
                            @*<div class="col-md-5"><i class="fa fa-envelope-o" aria-hidden="true"></i> debjyoti.das7@gmail.com</div>*@
                            <div class="col-md-3">

                            </div>

                            <div align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Login","Home")">Login</a></div>
                            @*<div class="col-md-2"> <i class="fa fa-cart-plus" aria-hidden="true"></i> My Cart - $ 0.00</div>*@
                            @*<div class="col-md-2"  align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Admin","Home")">Admin</a></div>*@
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="container-fluid bg-dark header-top d-none d-md-block">
                    <div class="container">
                        <div class="row text-light pt-2 pb-2">
                            <div class="col-md-2" align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Logout","Home")">Logout</a></div>
                            <div class="col-md-3">
                                @*<div class="col-md-2" align="right"> <a href="@Url.Action("Index","Message")">Message to Admin</a></div>*@

                            </div>

                        </div>
                    </div>
                </div>




            }
        }


        <div class="container-fluid bg-black">
            <nav class="container navbar navbar-expand-lg navbar-dark bg-black">
                <input name="Rupam" class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                @*<a href="@Url.Action("Admin","Home")" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">Home</a>*@
                <span class="navbar-toggler-icon"></span>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="Admin">Home <span class="sr-only">(current)</span></a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="Index">Add employee</a>
                                <a class="dropdown-item" href="Index">Add Admin</a>
                                <a class="dropdown-item" href="Discount">Discount</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="Index">Disabled</a>
                        </li>*@
                    </ul>
                    @*<form class="form-inline my-2 my-lg-0">
                        <input type="submit" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <input type="submit" class="btn btn-outline-success my-2 my-sm-0" type="input">Search</input>
                    </form>*@
                </div>
            </nav>
        </div>

        <footer>
            <div class="container-fluid pt-5 pb-5 bg-dark text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                            </div>
                            <img src="~/Image/73474977_484313005624525_7008271267014901760_n.png" alt="Alternate Text" width="200" height="200" />

                        </div>
                        <div class="col-md-3 pl-4">
                            <div class="row">
                                <h5>About</h5>
                            </div>
                            <div class="row mb-4">
                                <div class="underline bg-light" style="width: 50px;"></div>
                            </div>
                            <div class="row">
                                <p>BuyHere.com.bd is the best online shopping site in bangladesh selling millions of products electronics products. Experience fast, reliable and trusted online shopping in bangladesh with home delivery anywhere across country. Find latest trends in fashion according to seasons and occasions with BuyHere online shopping and remain in style 24x7 and 365 days a year. BuyHere provides a facility of online shopping with cash on delivery to your home.</p>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <h5>Social Media</h5>
                            </div>
                            <div class="row mb-4">
                                <div class="underline bg-light" style="width: 50px;"></div>
                            </div>
                            <a href="https://www.facebook.com"><img src="https://img.icons8.com/color/48/000000/facebook.png"></a>
                            <a href="https://twitter.com"><img src="https://img.icons8.com/color/48/000000/twitter.png"></a>
                            @*<button class="btn btn-outline-light">Autunm</button> <button class="btn btn-outline-light">Dress</button> <button class="btn btn-outline-light">Fashion</button> <button class="btn btn-outline-light">Ladice Dress</button> <button class="btn btn-outline-light">Black Dress</button>*@
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </form>
</body>
</html>

